<header>
    <div id="navigation01">
        <nav>
            <ul>
                <li><a href = "/home"> Home </a></li>
                <li><a href = "/resume"> Resume </a></li>
                <li><a href = "/skills"> Skills </a></li>
                <li><a href = "/publications"> Academic Publications </a></li>
                <li><a href = "#"> Print Features </a></li>
                <li><a href = "#"> Current Playlist </a></li>
                <li><a href = "#"> Links </a></li>
            </ul>
        </nav>
    </div>
</header>