<header>
    <div id="navigation01">
        <nav>            
            <ul>
                <li>
                    <img src="pictures/regular_hexagon.svg" class="filter-color icon">
                </li>
                <li><a href = "/home"> Home </a></li>
                <li><a href = "/resume"> Resume </a></li>
                <li><a href = "/skills"> Skills </a></li>
                <li><a href = "/publications"> Academic Publications </a></li>
                <li><a href = "projects"> Projects </a></li>
                <li><a href = "/media-coverage"> Media Coverage </a></li>
                <li><a href = "/contact"> Contact </a></li>
            </ul>
        </nav>
    </div>
</header>