<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="nav-style.css">
        <link rel="stylesheet" href="contact.css">
        <title> An Atmospheric Chemist </title>
    </head>
    <body>

        <%- include ('partials/header') %>

        <div class="contact">
            <h3>Email</h3>
            <p><a href="mailto:uk@placeholder.com" target="_blank">uk@dummy.com</a></p>
            <br>
            <h3>Phone</h3>
            <p>437-xxx-xxx</p>
            <br>
            <h3>Website</h3>
            <p>www.placeholder.io</p>
            <br>
            <h3>Address</h3>
            <p>
                Apt Number,<br>
                Stree Address, <br>
                Ontario,<br>
                Canada
            </p>
        </div>

    </body>

</html>