<!DOCTYPE html>
<html>
    <head>
        <%- include ('partials/head') %>
        <link rel="stylesheet" href="nav-style.css">
        <link rel="stylesheet" href="body-style.css">
        <title> About </title>
    </head>
    <body>

        <%- include ('partials/header') %>
        
        <p id="about">
            Hi, 
            
            I'm Uday,
            <br>
            a developer, FOSS enthusiast and atmospheric chemist.
            <br>
            Welcome to my webpage!
        </p>
    </body>

</html>