<head>
    <link rel="stylesheet" href="nav-style.css">
</head>
<body>
    <%- include ('partials/header') %>
    <h1> Hello everyone </h1>
    <p> You are awesome! </p>
    <a href="/bye">Bye</a>
</body>