<!DOCTYPE html>
<html>
    <head>
        <%- include ('partials/head') %>
        <link rel="stylesheet" href="nav-style.css">
        <link rel="stylesheet" href="body-style.css">
        <link rel="stylesheet" href="media-coverage.css">
        <title> Media Coverage </title>
    </head>
    <body>

        <%- include ('partials/header') %>

        <div class="media-features-collection">
            <ul>
                <li>
                    <a href="https://time.com/4633347/eating-snow-health-safety/" target="_blank">
                        <h3>
                            Is It Safe to Eat Desserts Made Out of Snow?
                        </h3>
                        <h4>
                            Time
                        </h4>
                        <img src ="pictures/generic_snow.jpg">
                    </a>
                </li>
                <li>
                    <a href="https://www.cbc.ca/news/canada/nova-scotia/those-melting-snowbanks-contain-more-than-just-water-1.4060622" target="_blank">
                        <h3>
                            Those melting snowbanks contain more than just water
                        </h3>
                        <h4>
                            CBC
                        </h4>
                        <img src ="pictures/cbc_ca.avif">
                    </a>
                    </a>
                </li>
                <li>
                    <a href="https://ici.radio-canada.ca/nouvelle/1026278/neige-fondante-cocktail-toxique-polluants-universite-mcgill" target="_blank">
                        <h3>
                            Un cocktail toxique de polluants caché dans la neige fondante
                        </h3>
                        <h4>
                            Radio Canada
                        </h4>
                        <img src ="pictures/radio_canada_ca_img.avif">
                    </a>
                    </a>
                </li>
                <li>
                    <a href="https://www.earth.com/news/melting-snow-toxic/" target="_blank">
                        <h3>
                            Melting snow may release toxic combinations of pollutants
                        </h3>
                        <h4>
                            Earth.com
                        </h4>
                        <img src ="pictures/earth_com_img.jpg">
                    </a>
                    </a>
                </li>
            </ul>
        </div>

    </body>

</html>