<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="nav-style.css">
        <link rel="stylesheet" href="body-style.css">
        <link rel="stylesheet" href="publications.css">
        <title> Publications </title>
    </head>
    <body>
        <%- include ('partials/header') %>
        <ul>
            <li>
                <div class="publications">
                    <h3>
                        Uptake of Hg0(g) on TiO2, Al2O3, and Fe2O3 Nanoparticles: Importance in Atmospheric Chemical and Physical Processes
                    </h3>
                    <time>
                        Oct 21, 2022
                    </time>
                    <p>
                    
                        Mineral dust aerosols play an important role in tropospheric chemistry and aerosol–cloud interaction processes. Yet, their interactions with gaseous elemental mercury (Hg0(g)) are not currently well understood. Using a coated-wall flow tube (CWFT) reactor, we measured the uptake of Hg0(g) on some common components of mineral dust aerosols, including TiO2, Al2O3, and Fe2O3, and the effects of irradiation (dark, visible and UV-A) and relative humidity (&lt;2% to 60%) on the uptake kinetics. Under UV-A irradiation (320–400 nm) in dry air, we measured uptake coefficients (γ) equal to &gt;1 × 10–3 and (3 ± 1) × 10–6 on TiO2 and Al2O3, respectively. Under visible light irradiation (380–700 nm), Hg0(g) uptake was only observed on TiO2, with γ = (4 ± 3) × 10–4. Raising the relative humidity inhibited the uptake on both TiO2 and Al2O3, and the uptake coefficient at 60% RH for TiO2 under UV-A irradiation was lower by ca. 3 orders of magnitude than dry conditions. Furthermore, we observed that water vapor induced the desorption of two distinct fractions from Hg-exposed surfaces via the displacement of weakly, physisorbed Hg and the photocatalyzed reduction of chemisorbed Hg. Based on the uptake coefficients from this report, we estimate that heterogeneous interactions with mineral dust may be significant under conditions with low relative humidity (&lt;30%) and high dust loading masses. We herein discuss the implication of this study on understanding the life cycle analysis of atmospheric mercury in nature.                
                    </p>
                </div>
            </li>
            <li>
                <div class="publications">
                    <h3>                   
                        Influence of Environmentally Relevant Physicochemical Conditions on a Highly Efficient Inorganic Ice Nucleating Particle
                    </h3>
                    <time>
                        Aug 1, 2018
                    </time>
                    <p>
                        Ice nucleation microphysical processes are identified to be of high importance in forecasting the magnitude of the Earth’s climate change. The environmental conditions often influence the ice nucleation processes in the Earth’s atmosphere. We herein study the impact of various environmental conditions on FeHg (maghemite–Hg2Cl2 composite), a highly efficient ice nucleating particle with similar freezing point to the best inorganic ice nuclei, AgI. FeHg is formed from FeCl2·4H2O and HgCl2, which are observed in the environment, in contrast to AgI, which is rarely found. The ice nucleation efficacy remained unchanged for FeHg under ambient conditions for a long duration. To mimic the atmosphere, we performed a series of experiments using a suite of complementary techniques, at various levels of radiation intensity, temperature, and pH for FeHg. Experiments were also performed in the presence of atmospheric pollutants, such as ozone (in the presence or absence of light), as well as nine emerging metal oxides and NO2. The emerging metal oxides at various pH levels produced significant effects on the ice nucleation ability of FeHg. Elevated temperatures changed the maghemite of FeHg to β-Fe2O3, whereas other studied environmentally relevant physicochemical conditions could not alter the maghemite phase. We describe potential reaction mechanisms using our observations. To evaluate the effect of surface alterations, the passivation of clay materials, namely, kaolin and montmorillonite, was also performed on FeHg. The observed alteration in crystal structure, as found in X-ray diffraction, was attributed to the change of the extent of lattice mismatch, resulting in a significant variation of ice nucleation ability. Our insights of the ice nucleating particles may help understand real atmospheric ice nucleation processes, in association with the establishment of more in-depth understanding of ice nucleation mechanism in the Earth’s atmosphere.           
                    </p>
                </div>
            </li>
            <li>
                <div class="publications">
                    <h3>
                        Radiation enhanced uptake of Hg0(g) on iron (oxyhydr)oxide nanoparticles
                    </h3>
                    <time>
                        Sep 21, 2017
                    </time>
                    <p>
                        Despite the proposed importance of atmospheric mercury (Hg) cycling, little is known about its heterogeneous chemistry, specifically on ubiquitous dust particle surfaces in the environment. To address this gap in knowledge, we herein report the uptake coefficients for the uptake of Hg0(g) on iron (oxyhydr)oxides (γ-Fe2O3, α-FeOOH, α-Fe2O3 and Fe3O4) nanoparticles, employed as proxies for reactive components of mineral dust. Hg0(g)-particle interactions were studied in a batch set-up, at ambient pressure (760 ± 5 Torr) and temperatures (295 ± 2 K) with UV and visible irradiation (290 nm ≤ λ ≤ 700 nm). γ-Fe2O3, α-FeOOH and α-Fe2O3 demonstrated a ca. 40–900-fold increase in uptake kinetics upon irradiation, under our experimental conditions. In contrast, uptake kinetics on Fe3O4's surface displayed little dependence on irradiation. Relative humidity was shown to inhibit the effect of radiation on the uptake of Hg0(g) by α-Fe2O3. Size distributions, electronic properties, surface area and phase characterization of the iron(oxyhydr)oxide particles were studied to explain the uptake kinetics, and to provide insights into the mechanism of Hg0(g) loss. The adsorption capacity of Hg0(g) on α-Fe2O3 was determined from the adsorption isotherm fitted with Langmuir, Freundlich and Elovich adsorption models. The implications of the results to atmospheric chemical processes are herein discussed.              
                    </p>
                </div>
            </li>
            <li>
                <div class="publications">
                    <h3>
                        Role of snow in the fate of gaseous and particulate exhaust pollutants from gasoline-powered vehicles
                    </h3>
                    <time>
                        Feb 9, 2017
                    </time>
                    <p>
                        Little is known about pollution in urban snow and how aerosol and gaseous air pollutants interact with the urban snowpack. Here we investigate interactions of exhaust pollution with snow at low ambient temperature using fresh snow in a temperature-controlled chamber. A gasoline-powered engine from a modern light duty vehicle generated the exhaust and was operated in homogeneous and stratified engine regimes. We determined that, within a timescale of 30 min, snow takes up from the exhaust a large mass of organic pollutants and aerosol particles, which were observed by electron microscopy, mass spectrometry and aerosol sizers. Specifically, the concentration of total organic carbon in the exposed snow increased from 0.948 ± 0.009 to 1.828 ± 0.001 mg/L (homogeneous engine regime) and from 0.275 ± 0.005 to 0.514 ± 0.008 mg/L (stratified engine regime). The concentrations of benzene, toluene and 13 out of 16 measured polycyclic aromatic hydrocarbons (PAHs), particularly naphthalene, benz[a]anthracene, chrysene and benzo[a]pyrene in snow increased upon exposure from near the detection limit to 0.529 ± 0.058, 1.840 ± 0.200, 0.176 ± 0.020, 0.020 ± 0.005, 0.025 ± 0.005 and 0.028 ± 0.005 ng/kg, respectively, for the homogeneous regime. After contact with snow, 50–400 nm particles were present with higher relative abundance compared to the smaller nanoparticles (&lt;50 nm), for the homogeneous regime. The lowering of temperature from 25 ± 1 °C to (−8) – (−10) ± 1 °C decreased the median mode diameter of the exhaust aerosol particles from 69 nm to 57 nm (p &lt; 0.1) and addition of snow to 51 nm (p &lt; 0.1) for the stratified regime, but increased it from 20 nm to 27 nm (p &lt; 0.1) for the homogeneous regime. Future studies should focus on cycling of exhaust-derived pollutants between the atmosphere and cryosphere. The role of the effects we discovered should be evaluated as part of assessment of pollutant loads and exposures in regions with a defined winter season.              
                    </p>
                </div>
            </li>
            <li>
                <div class="publications">
                    <h3>
                        Novel aerosol analysis approach for characterization of nanoparticulate matter in snow
                    </h3>
                    <time>
                        Dec 10, 2016
                    </time>
                    <p>
                        Tropospheric aerosols are involved in several key atmospheric processes: from ice nucleation, cloud formation, and precipitation to weather and climate. The impact of aerosols on these atmospheric processes depends on the chemical and physical characteristics of aerosol particles, and these characteristics are still largely uncertain. In this study, we developed a system for processing and aerosolization of melted snow in particle-free air, coupled with a real-time measurement of aerosol size distributions. The newly developed technique involves bringing snow-borne particles into an airborne state, which enables application of high-resolution aerosol analysis and sampling techniques. This novel analytical approach was compared to a variety of complementary existing analytical methods as applied for characterization of snow samples from remote sites in Alert (Canada) and Barrow (USA), as well as urban Montreal (Canada). The dry aerosol measurements indicated a higher abundance of particles of all sizes, and the 30 nm size dominated in aerosol size distributions for the Montreal samples, closely followed by Barrow, with about 30% fewer 30 nm particles, and about four times lower 30 nm particle abundance in Alert samples, where 15 nm particles were most abundant instead. The aerosolization technique, used together with nanoparticle tracking analysis and electron microscopy, allowed measurement of a wide size range of snow-borne particles in various environmental snow samples. Here, we discuss the application of the new technique to achieve better physicochemical understanding of atmospheric and snow processes. The results showed high sensitivity and reduction of particle aggregation, as well as the ability to measure a high-resolution snow-borne particle size distribution, including nanoparticulate matter in the range of 10 to 100 nm.               
                    </p>
                </div>
            </li>
            <li>
                <div class="publications">
                    <h3>
                        Uptake of Hg0(g) on TiO2, Al2O3, and Fe2O3 Nanoparticles: Importance in Atmospheric Chemical and Physical Processes
                    </h3>
                    <time>
                        Oct 21, 2022
                    </time>
                    <p>
                    
                        Mineral dust aerosols play an important role in tropospheric chemistry and aerosol–cloud interaction processes. Yet, their interactions with gaseous elemental mercury (Hg0(g)) are not currently well understood. Using a coated-wall flow tube (CWFT) reactor, we measured the uptake of Hg0(g) on some common components of mineral dust aerosols, including TiO2, Al2O3, and Fe2O3, and the effects of irradiation (dark, visible and UV-A) and relative humidity (&lt;2% to 60%) on the uptake kinetics. Under UV-A irradiation (320–400 nm) in dry air, we measured uptake coefficients (γ) equal to &gt;1 × 10–3 and (3 ± 1) × 10–6 on TiO2 and Al2O3, respectively. Under visible light irradiation (380–700 nm), Hg0(g) uptake was only observed on TiO2, with γ = (4 ± 3) × 10–4. Raising the relative humidity inhibited the uptake on both TiO2 and Al2O3, and the uptake coefficient at 60% RH for TiO2 under UV-A irradiation was lower by ca. 3 orders of magnitude than dry conditions. Furthermore, we observed that water vapor induced the desorption of two distinct fractions from Hg-exposed surfaces via the displacement of weakly, physisorbed Hg and the photocatalyzed reduction of chemisorbed Hg. Based on the uptake coefficients from this report, we estimate that heterogeneous interactions with mineral dust may be significant under conditions with low relative humidity (&lt;30%) and high dust loading masses. We herein discuss the implication of this study on understanding the life cycle analysis of atmospheric mercury in nature.                
                    </p>
                </div>
            </li>
        </ul>
    </body>
