<!DOCTYPE html>
<html>
    <head>
        <%- include ('partials/head') %>
        <link rel="stylesheet" href="styles/nav-style.css">
        <link rel="stylesheet" href="styles/body-style.css">
        <title> Resume </title>
    </head>
    <body>
        <%- include ('partials/header') %>
        <h1>Resume</h1>
        <p>
            <iframe id="resume_iframe"
            src="resume.pdf" 
            width="75%" height="930px"></iframe>
        </p>    
        </script>
    </body>