<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="nav-style.css">
        <link rel="stylesheet" href="body-style.css">
        <link rel="stylesheet" href="skills.css">
        <title> An Atmospheric Chemist </title>
    </head>
    <body>
        <%- include ('partials/header') %>
        <div class = "skills">
            <img src="pictures/archlinux.svg" alt="Arch linux">
            <img src="pictures/fedora3.svg" alt="Fedora"> 
            <img src="pictures/windows.svg" alt="Windows">
            <img src="pictures/ubuntu.svg" alt="Ubuntu">
            <img src="pictures/python.svg" alt="Python">
            <img src="pictures/matlab.png" alt="Matlab"> 
            <img src="pictures/bash.svg" alt="Bash">
            <img src="pictures/tensorflow.svg" alt="Tensorflow">
            <img src="pictures/matplotlib2.svg" alt="Matplotlib"> 
            <img src="pictures/pandas.svg" alt="Pandas">
            <img src="pictures/computecanada.png" alt="Compute Canada">
        </div>
    </body>