.projects {
    margin: 10px;
    padding: 20px;
    border:2px solid black;
    border-radius: 5px ;
    text-align: justify;
    background-color: white;
}

h2 {
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
}

img {
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 50%;
    /* height: auto;
    object-fit: cover;
    padding: 50px; */
}